*{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;}

.wrap{width:100%;height:auto;}
.w-fix{width:70px;height:60px;background: #7F7F7F;position: fixed;right:0;bottom:100px;z-index:100;font-family:苹方;border:2px solid transparent;}
.w-fix:hover{background: #a74e4e;border:2px solid #000;}
.w-fix>a>b>p{font-size:40px;color:#fff;text-align: center;}
/* .w-fix>.fix{font-size:18px;color:#1A1A1A;line-height:8px;} */

/* .header{text-align:center;margin:0 auto;} */
.header>.top{width:100%;height:80px;background:rgba(0, 0, 0, 0.5);overflow:hidden;z-index:10;}
.top>img{float:left;margin-left:120px;margin-top:15px;}
.top>ul{width:50%;height:50px;/* background:coral; */float:right;text-align:center;margin-top:15px;}
.top>ul>li{width:100px;height:50px;float:left;}
.top>ul>li>a{width:100px;height:50px;color:#fff;font-size:18px;font-family:苹方;line-height:60px;display:block;}
.top>ul>li:hover{width:100px;height:50px;background:#fff;}
.top>ul>li>a:hover{color:#000;}


.main{width:100%;height:auto;/* background:skyblue; */}
.m-top{width:100%;height:700px;}
#img{width:100%;height:540px;}
.m-top>p{width:66%;height:60px;font-family:苹方;text-align:center;border: 2px solid #000;line-height: 60px;margin:30px auto;font-size:20px;}

.m-one{width:100%;height:620px;}
.m-one>p{font-family:苹方;font-size:38px;text-align:center;}
.m-one>.mo-pg{width:100%;height:480px;margin-top: 30px;}
.m-one>.mo-pg>li{width:400px;height:450px;float:left;margin-left: 37px;}
.m-one>.mo-pg>li>p{width:400px;height:450px;background:rgba(0,0,0,0.5);position:absolute;display:none;z-index:3;border-radius: 10px;}
.m-one>.mo-pg>li:hover>p{display:block;transition: all 1s ease;}
.m-one>.mo-pg>li>img{width:400px;height:450px;}

.m-one>.mo-pa{width:1200px;height:50px;margin-left:105px;}
.m-one>.mo-pa>p{float:left;width:200px;height:50px;font-size:30px;line-height:50px;text-align:center;}
.m-one>.mo-pa>p:hover{background: #87CEEB;opacity: 0.5;}
.m-one>.mo-pa>.mop-o{margin-left:257px;}

 .m-two{width:100%;height:auto;}
 .mt-qw{float:left;width:100%;height:500px;background:#ECEDED;}
 .mt-qw>img{width:350px;margin-left:200px;margin-top: 80px;}
 .mt-right{width:500px;margin-top:150px;float:right;margin-right:200px;}
 .mt-right>h1{width:100%;font-family:苹方;font-size:45px;}
 .mt-right>p{font-family:苹方;font-size:25px;margin-top:10px;}
 .mt-right>img{margin-top:70px;}
 #t{margin-left:70px;}
 
.m-two>.mt-img{height:760px;margin: 80px 0 0 45px;}
.m-two>.mt-img>li{width:210px;height:190px;background:#F8F8F8;float:left;text-align: center;}
.m-two>.mt-img>li:hover{background:#F6CC27;opacity: 0.7;}
/* .m-two>.mt-img>li>div{width:210px;height:190px;background:#F6CC27;display:none;} */
.m-two>.mt-img>li>img{width:210px;height:190px;}
 .m-two>.mt-img>li>h4{font-size:20px;margin-top:35px;}
 .m-two>.mt-img>li>p{font-size:20px;margin-top:20px;}




.m-three{width:100%;overflow: hidden;}
.mt-qa{width:100%;height:350px;background:#F6CC27;text-align: center;overflow: hidden;}/* #f5db2b #D3B800*/
.mt-qa>h1{font-size:45px;font-family: 苹方;margin-top:70px;}
.mt-qa>p{font-size:25px;margin-top:20px;}
.mt-qa>img{margin-top:30px;}



.footer>.f-bot{width:100%;height:400px;background:#1A1A1A;overflow: hidden;}
.footer>.f-bot>.f-left{width:30%;height:300px;float:left;margin-left:220px}
.footer>.f-bot>.f-left>img{margin-top:50px;}
.footer>.f-bot>.f-left>p{color:#fff;font-size:30px;font-family:苹方;margin-top:20px;border-bottom: 2px solid #ccc;height:55px;width:350px;}
.footer>.f-bot>.f-left>span{color:#fff;font-size:45px;font-family:苹方;margin-top:20px;}
.footer>.f-bot>.f-left>h3{color:#fff;font-family:苹方;margin-top:35px;}
.footer>.f-bot>.f-right{width:40%;height:300px;float:right;margin-right:60px/* overflow: hidden; */}
.footer>.f-bot>.f-right>ul{margin-top:50px;}
.footer>.f-bot>.f-right>ul>li{float:left;margin:20px 80px 0 0;}
.footer>.f-bot>.f-right>ul>li>p{color:#fff;font-size:20px;font-family:苹方;}

.footer>.f-bot>.f-on{width:100%;height:50px;margin-top:330px;}
.footer>.f-bot>.f-on>ul{width:30%;height:50px;/* background:orange; */margin-left:450px;text-align: center;}
.footer>.f-bot>.f-on>ul>li{width:100px;height:35px;/* background:green; */float:left;text-align: center;}
.footer>.f-bot>.f-on>ul>li>a{color:#fff;margin-top:7px;}
.footer>.f-bot>.f-on>ul>li>a:hover{border-bottom: 1px solid #fff;}
.footer>.f-bot>.f-on>ul>li>span{margin-left:15px;color:#fff;}